[submodule ".vim/pack/my_plugins/start/YouCompleteMe"]
	path = .vim/pack/my_plugins/start/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule ".vim/pack/my_plugins/start/ctrlp.vim"]
	path = .vim/pack/my_plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/my_plugins/start/nerdcommenter"]
	path = .vim/pack/my_plugins/start/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule ".vim/pack/my_plugins/start/nerdtree"]
	path = .vim/pack/my_plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/pack/my_plugins/start/vim-rubocop"]
	path = .vim/pack/my_plugins/start/vim-rubocop
	url = git@github.com:ngmy/vim-rubocop.git
[submodule ".vim/pack/my_plugins/start/numbers"]
	path = .vim/pack/my_plugins/start/numbers
	url = https://github.com/myusuf3/numbers.vim.git
