[submodule "ctrlp.vim"]
	path = home/.vim/pack/my_plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
	shallow = true
[submodule "nerdcommenter"]
	path = home/.vim/pack/my_plugins/start/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
	shallow = true
[submodule "nerdtree"]
	path = home/.vim/pack/my_plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
	shallow = true
[submodule "vim-rubocop"]
	path = home/.vim/pack/my_plugins/start/vim-rubocop
	url = git@github.com:ngmy/vim-rubocop.git
	shallow = true
[submodule "numbers"]
	path = home/.vim/pack/my_plugins/start/numbers
	url = https://github.com/myusuf3/numbers.vim.git
	shallow = true
[submodule "vim-airline"]
	path = home/.vim/pack/my_plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
	shallow = true
[submodule "vim/pack/my_plugins/start/vim-javascript"]
	path = home/.vim/pack/my_plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	shallow = true
[submodule "vim-es6"]
	path = home/.vim/pack/my_plugins/start/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
	shallow = true
[submodule "copilot"]
	path = home/.vim/pack/my_plugins/start/copilot
	url = git@github.com:github/copilot.vim.git
	shallow = true
